<h2>Expenses</h2>

<div id="expenses-block">
  <% @expenses.each do |e| %>
  <div >
    <span class="expense">
    − <%= e.amount %>
    </span>
    |
    <%=e.spent_on%>
    |
    <%=e.tag.try(:name) %> 
    |
    <%= e.description %>
  </div>
  <% end %>
  <%= render 'expense_form' %>
</div>

<div id="login-block">
    <%= current_user.email %> | <%= link_to "Logout", logout_path %>
</div>